branches:
    except:
    - master
language: python
python:
    - 3.7
sudo: required
services:
    - docker
install:
    - make test-env
script:
    - make build-base
    - make test-base
    - make build-full
    - make test/datascience-gpu-notebook