branches:
  except:
  - master
language: python
python:
- 3.7
sudo: required
services:
- docker
install:
- make test-env
script:
- make build-all
- make test-all
deploy:
  provider: script
  script: (echo "$DOCKER_ACCESS_TOKEN" | docker login -u $DOCKER_USERNAME --password-stdin) && make push-all
env:
  global:
  - secure: EyJDw93NariIJKD8c0vQ42UuAkbZcrqA5+4Qv6Gww/TIrn6LU2INz34nn3O1z+tkjltBQTqRZpnK9VGOWORZ+j3Z9yqersP+08KVc/hQwqQrtCJEFj6ynmp3v22xrNtEn2FDNPLx0ZIKgHsTZ/3mfBjZ6HWSLYmyY71Tw4knGay8sQlF6w7LvtnZLi2abyIZaGOwuFx4v1GJbAS/4U8ISF6HKs95PSFp0YJU9LFwCPyxvQALW84Xt3xVJpNf712nZWMJgQZpMcMJq72UVBDdB9qExn8zCZKEn7A0ZTgSwBQ8Q6wxLS1BVDFTwCBtS3Awi4NTDVoWwR3LjpiQxBlC0Hibtex2OCAWH17mldk6FH8XbM0cqhU+kVhrBjtz4auVFfG41iyR6nV4cBjqer/uvEH63Re7WIKQMioeQkhTqhL3jbN8jtMm9ir77ifs93B8v4d4rl2OJaIEbW6wOObQM1uDpp4iZY50IRF36/UYHZwp3PeUmxHjBRMGIeHX/KGvTu0TO/KtWMfM7jREfR1miJgloHFj9ZiStZ7nk/MV8UQW4ccZSLo2C35/8mRAV3VNI6QZkgK3UwZL0GeMXcCrHofdUVYC6Xkx8GRUGWFlNUdoWWo7fjvkoSlOc+P/W4e/Ukg8klOjGpAR3QYokC++HmvRfM30lAmqWHUCivOaWng=
  - secure: PotdX2gT6M9U+goFdynlNZyUcfBSzlNwemI74+iMyvxKQ2GjcN451Vwa/lKRGNsRH4K+DQQVZhwZ6ZKLOwanCNqkSp8l3u537d3Kj+k6ekcaNOdULv2tJc5Vh7WuRZb0N4aT1fJZqR1jSoev07r8hy5DdCQDWTiadFKh6jKM4bGWRzNuTim6YMW8efPK8qN5krSnIOUiwPmbW6o+C+z8kEEzXhRS9ts2mwp2xJke4cmMrhh/F42ZDKYZXYBb++0xlzRmcX9TcSWNTrDxlPy0Vu2h7hLpx0POk812vJ+Dm/M3YgePCl0jtoeM4U24dkvPBLNIabJYqtHPSSoTBNuetrCvhLzKWPbqYlxVY4Sncenk/c1cZB9tA/4b1AP8NRvQvj+LLLgpFGSJcuWaBIeJ3LJiaGX/AdDJsyO5/Rmq8foj+BC/kwAgKTj6hSv9Fqe1KZefAc65YdAmzO7+4j3SbYePpdfzCDYaiIcEPx+vJu08zOkd8ji1DnTo/v0MeTIcMTWMC3jd4xEOmSRy+SXlRkInr5NpkDlHXXCsIAwoRgQgiBoC3xJ+M08QezXyqW99ukES63LRavo2zOvqQl52wJx7WSIBT2UCQ5Vt6r5sKfVZo0EtpfTPtuN0SkGv5WaUAVRwHyx+eWMAsjM4zcLIqkTspO2bXOTbuqYckYfWi2k=
